<div class="container border-red">
  <div class="title-and-estimate-container">
    <div class="title-container">
      <div class="title-text">
        <strong>Title:</strong>{{title}}
      </div>
    </div>
    <div class="estimate-container border-red"></div>
  </div>
  <div class="userstory-and-discipline-container">
    <div class="user-story"> 
      <strong>Reproduction Steps:</strong>
      <br/>
        {{{repro_steps}}}
      <br/><br/>
      <strong>System Info:</strong>
      <br/>
        {{{system_info}}}
      <br/>
     </div>
    <div class="discipline-container">
      <div class="discipline">
        <div class="description">Dev</div>
        <div class="box border-red"></div>
      </div>
      <div class="discipline">
        <div class="description">UX</div>
        <div class="box border-red"></div>
      </div>
    </div>
  </div>
  <div class="po-vsts-container">
    <div class="po">
      <strong>Product Owner:</strong>
    </div>
    <div class="vsts-number">
      <strong>VSTS #:</strong> {{number}}
    </div>
  </div>
</div>