<div class="container border">
  <div class="title-and-estimate-container">
    <div class="title-container">
      <div class="yt-number">
        <h2>yt#: 12345</h2>
      </div>
      <div class="title">
        <h3>Title: Update Information to have up to date information</h3>
      </div>
    </div>
    <div class="estimate-container border"></div>
  </div>
  <div class="userstory-and-discipline-container">
    <div class="user-story"> 
      <p>As an agent</p>
      <p>
        I want the results displayed when Looking Up a Cusomter, to do a certain thing, 
        followed by another thing, followed by another thing.
      </p>
      <p>
        So that I am able to easily identify if the stuff that we are trying to so is working.
      </p>
    </div>
    <div class="discipline-container">
      <div class="discipline">
        <div class="description">Dev</div>
        <div class="box border"></div>
      </div>
      <div class="discipline">
        <div class="description">UX</div>
        <div class="box border"></div>
      </div>
    </div>
  </div>
</div>